<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<div class="titles" id="titles"></div></br>
	<form id="submit">
		Title <input type="text" id="title" class="title"></br></br>
		Text <input type="text" id="text" class="text"></br></br>
		<button>Submit</button>
	</form>
</body>
<script src="/js/main.js"></script>
</html>