<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Age Calculator</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id = 'main'>
        <h1>This page calculates your age <h1>
        <h2>Please enter your age below</h2>

        <input type="date" value="1995-04-03" min="1995-04-03" max="1995-04-03">

        <button type = "submit">Submit</button>

        <h2>Your age is <%= age%></h2>
    </div>
</body>
</html>